
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    min-height: 100vh;
    position: relative;
    background:#eef2f7;
}
a{
    text-decoration: none;
}
#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
