*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    min-height: 100vh;
    position: relative;
    background:$background;
}
a{
    text-decoration: none;
}
#root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    @media (max-width: 992px) {
        flex-direction: column;
    }
}
