// Logique du HEADER du DASHBOARD/HOMEPAGE
.dashboard--header{
    background-color: transparent;
    @media (max-width: 992px) {
        width: 100%;
        height: 55px;
    }
// Logo en mode tablet/mobile
    #headerLogo{
        display: none;
        @media (max-width: 992px) {
            display: block;
            margin: 10px auto;
            height: 35px;
        }
    }
// Barre de navigation 
    .dashNav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 300px;
        background-color: $navcolor;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transition: 0.3s ease;
        @media (max-width: 992px) {
            transform: translateX(-300px);
            &.openNav{
                transform: translateX(0px);
            }
        }
        @media (max-width: 768px) {
            width: 250px;
            transform: translateX(-250px);
        }
// Premier bloc avec Logo, infos user: Avatar, Nom/Prénom
// Boutons de modifications d'avatar/password(Dashboard) / Login/Signup(Homepage)
        &--firstBloc{ 
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            @media (max-width: 992px) {
                margin-top: 20px;
            }
            &__logo{
                width: 200px;
                margin: 20px auto;
                display: block;
                @media (max-width: 992px) {
                    display: none;
                }
            }
            &__userInfo{
                @include flex-center;
                margin: 45px 0 30px;
                .avatar{
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    margin: 0 0 0 10px;
                    overflow: hidden;
                    @include flex-center;
                    img{
                        min-height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                h2{
                    color: $white;
                    font-size: 28px;
                    font-weight: 400;
                    margin-left: 20px;
                    @media (max-width: 768px) {
                        font-size: 24px;
                    }
                }
            }
            button{
                margin: 4px 0 4px 35px;
                @media (max-width: 768px) {
                    margin: 4px 0 4px 25px;
                }
            }
        }
// Bloc contenant le bouton de déconnexion
        &--secondBloc{
            button{
                margin: 25px 0 25px 35px;
                @media (max-width: 768px) {
                    margin: 25px 0 25px 25px;
                }
            }
        }
// Logique pour tous les boutons de selection de la Nav
        button{
            background: transparent;
            border: none;
            color: rgba(255, 255, 255, 0.5);
            text-align: start;
            font-size: 16px;
            cursor: pointer;
            i{
                margin-right: 5px;
            }
            &:hover{
                color: $white;
            }
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
}
// Modal de modification d'avatar
.modifyAvatar{
    @include fixed-fullpage-modal;
    &--form{
        width: 300px;
        padding: 24px;
        text-align: center;
        h3{
            color: $postColorName;
            font-size: 18px;
            margin-bottom: 10px;
        }
// Label d'ajout d'image (input file display none)
        label{
            margin: 20px 0;
            cursor: pointer;
            font-size: 18px;
            font-weight: 500;
            color: $postColorName;
            transition: 0.2s ease;
            display: block;
            i{
                color: blue;
                margin-right: 10px;
            }
            &:hover{
                color: #000;
            }
        }
        #imageInput{
            display: none;
        }
        &__subBtn{
            @include flex-between;
            input, button{
                width: 48%;
                font-size: 16px;
                font-weight: 600; 
            }
        }
    }
}
// Modal de modification de password
.modifyPassword{
    @include fixed-fullpage-modal;
    &--form{
        display: flex;
        flex-direction: column;
        width: 450px;
        padding: 24px;
        text-align: center;
        @media (max-width: 992px) {
            width: 95%;
            max-width: 450px;
        }
        h3{
            color: $postColorName;
            font-size: 18px;
            margin-bottom: 10px;
        }
        label{
            margin-top: 15px;
            margin-bottom: 2px;
        }
        input[type='password']{
            margin: 5px 0;
            border: 1px solid rgba(0, 0, 0, 0.5);
            padding: 0 10px;
        }
        .passSub{
            margin-top: 25px;
        }
        &__err{
            margin-top: 10px;
            font-size: 13px;
            color: red;
            i{
                margin-right: 10px;
            }
        }
    }
}