main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 300px;
    height: 100%;
}
// LOGIQUE DE STYLE POUR LA PARTIS DE CRÉTION DE POST
.newPost{
    width: 80%;
    max-width: 800px;
    background: $white;
    margin: 20px 0 12px;
    @include flex-between;
    padding: 24px;
    box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
    border: 1px solid #e7ebf0;
    border-radius: 5px;
    &--image{
        height: 40px;
        width: 40px;
        border-radius: 4px;
        overflow: hidden;
        @include flex-center;
        img{
            min-height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &--fakebtn{
        width: calc(100% - 50px);
        height: 40px;
        border-radius: 4px;
        cursor: pointer;
        @include flex-between;
        background: $background;
        box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
        border: 1px solid #e7ebf0;
        transition: 0.2s ease;
        p{
            margin-left: 12px;
            color: $postColorDate;
            font-size: 16px;
            font-weight: 600;
        }
        &:hover{
            background-color: #8391a234;
            p{
                color: $postColorName;
            }
        }
    }
}
//LOGIQUE DE STYLE POUR LE MODAL DE CREATION DE POST
.createPost{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.40);
    z-index: 5;
    @include flex-center;
    padding-left: 300px;
    &--form{
        width: 60%;
        max-width: 600px;
        background: $white;
        position: relative;
        padding: 24px;
        box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
        border: 1px solid #e7ebf0;
        border-radius: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        &__closeForm{
            position: absolute;
            top: 24px;
            right: 24px;
            cursor: pointer;
            font-size: 18px;
            color: $postColorDate;
            &:hover{
                color: $postColorName;
            }
        }
        h3{
            margin-bottom: 10px;
            color: $postColorName;
        }
        textarea{
            resize: none;
            width: 100%;
            height: 100px;
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-size: 18px;
            font-weight: 500;
            margin: 20px 0 10px;
            &:focus{
                outline: 0.5px solid rgba(0, 0, 0, 0.25);
            }
        }
        // Ajoute d'image
        label{
            margin: 10px 0 20px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 500;
            color: $postColorName;
            transition: 0.2s ease;
            i{
                color: blue;
                margin-right: 10px;
            }
            &:hover{
                color: #000;
            }
        }
        #post-img{
            display: none;
        }
        &__notValid{
            color: red;
            font-size: 13px;
            font-weight: 600;
            margin: 0 0 15px;
            i{
                margin-right: 5px;
            }
        }
        input[type='submit']{
            margin-bottom: 0px;
            cursor: pointer;
            box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
            border: 2px solid #e7ebf0;
            font-size: 16px;
            font-weight: 600;
            color: $postColorName;
            transition: 0.2s ease;
            &:hover{
                background: #bccee4;
                color: #000;
            }
        }
    }
}
// Container de la logique du map des POSTS ainsi que des COMS
.postContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
// Logique de style de chaque POST
.post{
    width: 80%;
    max-width: 800px;
    background: $white;
    min-height: 200px;
    margin: 12px 0;
    box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
    border-radius: 5px;
    padding: 24px 24px 6px;
    position: relative;
    // PRESENTATION UTILISATEUR
    &--userPres{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        position: relative;
        &__avatar{
            height: 32px;
            width: 32px;
            border-radius: 4px;
            margin-right: 12px;
            overflow: hidden;
            @include flex-center;
            img{
                min-height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &__text{
            h3{
                font-size: 15px;
                font-weight: 700;
                color: $postColorName;
            }
            p{
                font-size: 12px;
                color: $postColorDate;
            }
        }
        &__ellipsis{
            position: absolute;
            right: 0;
            top: 0;
            button{
                background: transparent;
                border: none;
                cursor: pointer;
                i{
                    font-size: 18px;
                    color: $postColorName;
                    &:hover{
                        color: #000;
                    }
                }
            }
        }
    }
    // LIGNES DE DEMARCATIONS
    &--hrLarge{
        height: 1.4px;
        background: $postColorName;
        border: none;
        opacity: 0.25;
    }
    &--hrSmall{
        border: none;
        height: 1px;
        background-color: $postColorName;
        opacity: 0.25;
    }
    // AFFICHAGE DU MESSAGE DU POST
    &--message{
        margin: 24px 0;
        text-align: center;
    }
    // IMAGE DU POST
    &--img{
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
        margin: 23px 0;
        border: 1px solid #e7ebf0;
    }
    // BORDEREAU LIKE
    &--like{
        height: 25px;
        margin: 6px 0;
        display: flex;
        align-items: center;
        p{
            font-size: 14px;
            margin-left: 5px;
            color: $postColorName;
        }
        &__comBtn{
            @include flex-center;
            margin-left: 15px;
            cursor: pointer;
            color: $postColorName;
            &:hover{
                p, i{
                    color: #727cf5;
                }
            }
        }
    }
    // LOGIQUE DU CONTENEUR RECEVANT LE MAP DES COMMENTAIRES
    &--comContainer{
        // STYLE DU COMMENTAIRE UNIQUE
        .com{
            display: flex;
            margin: 5px 0;
            position: relative;
            // AVATAR DE L'UTILISATEUR
            &--avatar{
                height: 32px;
                width: 32px;
                border-radius: 4px;
                margin-right: 12px;
                overflow: hidden;
                @include flex-center;
                img{
                    min-height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            // PRESENTATION UTILISATEUR + COMMENTAIRE
            &--text{
                h4{
                    font-size: 15px;
                    font-weight: 700;
                    color: $postColorName;
                }
                &__date{
                    font-size: 12px;
                    color: $postColorDate;
                }
                &__message{
                    font-size: 14px;
                    color: $postColorName;
                    margin: 6px 0;
                }
            }
            // SUPPRESSION DU COMMENTAIRE
            &--deleteCom{
                position: absolute;
                top: 0;
                right: 3px;
                i{
                    font-size: 14px;
                    cursor: pointer;
                    color: $postColorDate;
                    &:hover{
                        color: #000;
                    }
                }
            }
        }
    }
    // STYLE DU FORMULAIRE D'ENVOIE DU COMMENTAIRE 
    &--form{
        width: 100%;
        height: 32px;
        margin: 16px 0 12px;
        display: flex;
        position: relative;
        &__avatar{
            height: 32px;
            width: 32px;
            overflow: hidden;
            margin-right: 10px;
            border-radius: 4px;
            @include flex-center;
            img{
                min-height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        input{
            border: none;
            height: 32px;
            width: calc(100% - 42px);
            padding-left: 10px;
            border-radius: 4px;
            &:focus{
                outline: 0.5px solid rgba(0, 0, 0, 0.15);
            }
        }
    }
    // MODIFICATION GRACE AU MODAL
    .modifModal{
        position: absolute;
        background: white;
        top: 45px;
        right: 25px;
        box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
        border: 1px solid #e7ebf0;
        border-radius: 5px;
        p{
            padding: 0px 20px;
            height: 30px;
            line-height: 30px;
            color: $postColorName;
            font-size: 14px;
            &:hover{
                background: #bccee4;
                color: #000;
                cursor: pointer;
            }
        }
    }
    //MODAL DE MODIFICATION DE POST
    .changeModal{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        @include flex-center;
        background-color: rgba(0, 0, 0, 0.40);
        transition: 0.2s ease;
        &--form{
            width: 100%;
            height: 100%;
            max-height: 254px;
            box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
            border: 1px solid #e7ebf0;
            border-radius: 5px;
            padding: 25px 25px 6px;
            margin: 0;
            text-align: center;
            background-color: white;
            h4{
                color: $postColorName;
                font-size: 18px;
                margin-bottom: 8px;
            }
            label{
                color: $postColorName;
                font-weight: 600;
                font-size: 15px;
            }
            #image--change{
                display: none;
            }
            &__imgLab{
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
                color: #6c757d;
                transition: 0.2s ease;
                i{
                    color: blue;
                    margin-right: 10px;
                }
            }
            hr{
                margin-bottom: 10px;
            }
            input[type='text']{
                width: 100%;
                text-align: center;
                box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
                border: 2px solid #e7ebf0;
                border-radius: 5px;
                margin: 5px 0 20px;
                &:focus{
                    outline: none;
                }
            }

        }
        // BOUTONS DE SOUMISSION DU FORM OU DE FERMETURE 
        &--subBox{
            display: flex;
            justify-content: space-between;
            input, button{
                width: 48%;
                height: 25px;
                box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
                border: 2px solid #e7ebf0;
                border-radius: 5px;
                background-color: white;
                margin-top: 20px;
                &:hover{
                    background: #bccee4;
                    color: #000;
                    cursor: pointer;
                    border: none;
                }
            }
            
        }
    }
    // BOX POUR SUPPRIMER UN POST
    .deletePost{
        width: 300px;
        background: white;
        box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
        border: 2px solid #e7ebf0;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        h4{
            margin-bottom: 15px;
            color: $postColorName;
            font-size: 16px;
        }
        &--btnBox{
            @include flex-between;
            width: 100%;
            button{
                width: 48%;
                background: white;
                box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
                border: 2px solid #e7ebf0;
                color: $postColorName;
                font-size: 12px;
                font-weight: 600;
                &:hover{
                    background: #bccee4;
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }
}

// STYLE POUR LA HOME PAGE
#title-home{
    margin: 20px 0 ;
}
.homeBox{
    margin-top: 35px;
    width: 80%;
    text-align: center;
    h2{
        margin-bottom: 15px;
        color: $postColorName;
        i{
            margin-right: 15px;
            color: #727cf5;
        }
    }
    // futur classe box 
    background: white;
    box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
    border: 1px solid #e7ebf0;
    border-radius: 5px;
    padding: 25px ;
    &--form{
        @include flex-center;
        flex-direction: column;
        width: 100%;
        label{
            font-weight: 600;
            color: $postColorName;
            margin-bottom: 10px;
        }
        input{
            width: 250px;
            height: 25px;
        }
        &__inputBox{
            width: 100%;
            @include flex-center;
            flex-direction: column;
            margin-bottom: 15px;
            input{
                box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
                border: 2px solid #e7ebf0;
                border-radius: 5px;
                text-align: center;
                margin-bottom: 10px;
            }
            .home--error{
                i{
                    margin-right: 10px;
                }
                font-size: 13px;
                color: red;
                font-weight: 600;
            }
        }
        input[type='submit']{
            margin-top: 15px;
            // futur classe boutton
            background: white;
            box-shadow: 0 0 35px rgba(154, 161, 171, 0.15) ;
            border: 2px solid #e7ebf0;
            color: $postColorName;
            font-size: 12px;
            font-weight: 600;
            &:hover{
                background: #bccee4;
                color: #000;
                cursor: pointer;
            }
        }
    }
}